.twitter-mention-swiper {
  padding: 0 0 30px 0;
  & .swiper-pagination {
    bottom: 0 !important;
    @media (max-width: 768px) {
      bottom: 2px !important;
    }
  }
  & .indicator {
    width: 25px;
    height: 4px;
    border-radius: 4px !important;
    background: #0e0e0e;
    margin: 0 5px;
    border-radius: unset;
    cursor: pointer;
    @media (max-width: 768px) {
      width: 18px;
      height: 2px;
      border-radius: 2px !important;
    }
    &.swiper-pagination-bullet-active {
      background: #212433;
    }
  }
  .img-banner {
    .store-image {
      height: 100%;
      border-radius: 16px;
      overflow: hidden;
      img {
        height: 100% !important;
        object-fit: cover;
      }
    }
  }
}

.image-aspect-43 {
  width: auto;
  height: 100%;
  aspect-ratio: 4/3; /* will make width equal to height (100px container) */
  object-fit: cover; /* use the one you need */
}
