body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
}

.sentre-col-container {
  max-width: 1920px;
  width: 100%;
}

.readme-loader {
  max-height: 65px;
  position: relative;
  overflow: hidden;
  h1 {
    font-size: 1.17rem !important;
  }
  .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    height: 35px;
    background-image: linear-gradient(to bottom, transparent, #212433);
  }
}
.readmore-modal {
  h1 {
    font-size: 1.17rem !important;
  }
}

.image-aspect-43 {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover; /* use the one you need */
}
