#light {
  .hero-banner {
    padding-bottom: 24px;
    .btn-explore-now {
      color: #e9e9eb;
      background: #6333ff;
      border: none;
    }
    & .swiper-pagination {
      text-align: right;
      bottom: 0;
      @media (max-width: 768px) {
        bottom: 2px !important;
      }
    }
    & .indicator {
      width: 25px;
      height: 4px;
      border-radius: 4px !important;
      background: #d3d3d6;
      margin: 0 5px;
      border-radius: unset;
      cursor: pointer;
      @media (max-width: 768px) {
        width: 18px;
        height: 2px;
        border-radius: 2px !important;
      }
      &.swiper-pagination-bullet-active {
        background: #212433;
      }
    }
    .img-banner {
      .store-image {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
        img {
          height: 100% !important;
          object-fit: cover;
        }
      }
    }
  }
}

#dark {
  .hero-banner {
    padding-bottom: 24px;
    .btn-explore-now {
      color: #6333ff;
      background: #f4f4f5;
      border: none;
    }
    & .swiper-pagination {
      text-align: right;
      bottom: 0;
      @media (max-width: 768px) {
        bottom: 2px !important;
      }
    }
    & .indicator {
      width: 25px;
      height: 4px;
      border-radius: 4px !important;
      background: #4e4f5c;
      margin: 0 5px;
      border-radius: unset;
      cursor: pointer;
      @media (max-width: 768px) {
        width: 18px;
        height: 2px;
        border-radius: 2px !important;
      }
      &.swiper-pagination-bullet-active {
        background: #f4f4f5;
      }
    }
    .img-banner {
      .store-image {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
        img {
          height: 100% !important;
          object-fit: cover;
        }
      }
    }
  }
}
