// Key frame
@keyframes gearRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes gearRotateReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes gearRotateHue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-360deg);
  }
}
@keyframes gearRotateBoth {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(-360deg);
  }
}
@keyframes hammer {
  0% {
    transform: rotate(-2deg);
  }
  15% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(2deg);
  }
  45% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes coinZoom {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  10%,
  100% {
    transform: scale(1);
  }
}

// Css properties
.bg-trending {
  position: absolute !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .store-image {
    width: 100%;
    height: 100%;
    img {
      height: 100% !important;
      object-fit: cover;
    }
  }
}

.bg-trending-right {
  position: absolute !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .store-image {
    position: absolute !important;
    display: inline-block;
    right: 20px;
    bottom: 5px;
    text-align: right;
    svg {
      width: 65%;
      height: auto;
    }
  }
}
.hoverable-svg {
  // #gear_circle_1,
  // #gear_circle_2,
  // #gear_circle_3,
  // #gear_circle_4,
  // #gear_circle_5,
  // #gear_circle_6,
  // #gear_path_1,
  // #gear_path_2,
  // #circle_hue_1,
  // #circle_hue_2,
  // #circle_hue_3,
  // #circle_hue_4,
  // #circle_hue_5,
  // #circle_hue_6,
  // #circle_hue_7,
  // #gear_3 {
  //   animation: gearRotateHue 7.8s linear infinite;
  // }
  &.utility {
    #gear_1 {
      transform-origin: 121px 139px;
      animation: gearRotate 8s linear forwards infinite;
    }
    #gear_2 {
      transform-origin: 44px 44.8px;
      animation: gearRotateReverse 7.8s linear forwards infinite;
    }
    &:hover {
      #gear_1 {
        animation-duration: 1.4s;
      }
      #gear_2 {
        animation-duration: 1.2s;
      }
      #gear_3 {
        animation-duration: 1.2s;
      }
    }
  }
  &.dao {
    #hammer_dao {
      transform-origin: 0px 140px;
      animation: hammer 2s linear forwards infinite;
    }
    &:hover {
      #hammer_dao {
        animation-duration: 1.2s;
      }
      #gear_3 {
        animation-duration: 1.2s;
      }
    }
  }
  &.game {
    #gear_3 {
      transform-origin: 62.5px 31.5px;
      animation: gearRotate 2s linear forwards infinite;
    }
    &:hover {
      #gear_3 {
        animation-duration: 1.2s;
      }
    }
  }
  &.liquidity {
    #u_coin_1 {
      transform-origin: 35px 27px;
      animation: coinZoom 2s 0.8s linear infinite;
    }
    #u_coin_2 {
      transform-origin: 50px 2px;
      animation: coinZoom 2s 1.2s linear infinite;
    }
    #u_coin_3 {
      transform-origin: 75px 15px;
      animation: coinZoom 2s 1.4s linear infinite;
    }
    #u_coin_4 {
      transform-origin: 100px 30px;
      animation: coinZoom 2s 1.6s linear infinite;
    }
    &:hover {
      #u_coin_1 {
        animation-duration: 0.8s;
        animation-delay: 0.1s;
      }
      #u_coin_2 {
        animation-duration: 0.8s;
        animation-delay: 0.2s;
      }
      #u_coin_3 {
        animation-duration: 0.8s;
        animation-delay: 0.3s;
      }
      #u_coin_4 {
        animation-duration: 0.8s;
        animation-delay: 0.4s;
      }
    }
  }
}
